{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">Добавяне на рецепта</h2>

    {{ form_start(form) }}
    <ul class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e }}"></ul>
    {{ form_widget(form) }}

    <input type="submit" value="Създай рецепта"
            class="btn btn-primary">
    {{ form_end(form) }}

{% endblock %}