{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">Добавяне на рецепта</h2>

    {{ form_start(createForm) }}
        <ul class="ingredients" data-prototype="{{ form_widget(createForm.ingredients.vars.prototype)|e }}"></ul>
    {{ form_widget(createForm) }}

    <input type="submit" value="Създай рецепта"
            class="btn btn-primary">
    {{ form_end(createForm) }}



{% endblock %}