li * {
    display: inline-block;
    margin: 0 10px
}

.form-control{
    width: 350px;
    margin-bottom: 15px;

}

#recipe_image{
    margin-bottom: 15px;
}

#recipe_ingredients{
    margin-bottom: 30px;
}

footer{
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

img{
    width: 300px;
    height: 200px;
    margin-top: 15px;
}

.navbar-collapse{
    background-color: #efefef;
}

.navbar-header{
    padding-left: 15px;
}

.page-header{
    text-align: center;
    background-color: #ffffff;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
}

.ingredients{
    margin-left: 50px;

}

.add_ingredient_link{
    margin-top: 20px;
}
