li * {
    display: inline-block;
    margin: 0 10px
}

.form-control{
    width: 350px;
    margin-bottom: 15px;

}

#recipe_image{
    margin-bottom: 15px;
}

#recipe_ingredients{
    margin-bottom: 30px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

img{
    width: 300px;
    height: 200px;
}

.navbar-collapse{
    background-color: #efefef;
}

.navbar-header{
    padding-left: 15px;
}
